:root{
  --heading-height: calc(1rem + 3vw);
}
*{
  line-height: 1rem;
  line-height: calc(.25rem + 1vw);
  font-family: monospace;
}
.value{
  margin-left: 3.5rem;
  margin-left: calc(3rem + 2.5vw);
}
h1{
  line-height: 2rem;
  text-decoration: underline;
  font-size: 30px;
  font-size: var(--heading-height);
}
h2{
  font-size: 24px;
  font-size: calc(.5rem + 2vw);
  margin-left: .2rem;
}
p{
  font-size: 20px;
  font-size: calc(.5rem + 1.5vw);
}
footer{
  margin-top: 3rem;
  padding: 1rem 0 1rem 0;
  border: solid;
  border-color: lightgray;
  background-color: white;
  border-radius: .5rem;
  font-size: 90%;
  font-size: calc(90% + .2vw);
}
.button{
  padding: .3rem .3rem;
  color: black;
  background-color: white;
  text-decoration: none;
  border: .3rem outset rgb(244, 244, 244);
  border-radius: .2rem;
  transition: all .1s;
}
.button:hover{
  border-radius: .5rem;
  background-color: rgb(244, 244, 244);
}
.uptime{
  float: right;
}
.info{
  padding: 0.25rem .5rem 1.2rem .5rem;
  border-bottom: solid lightgray;
}
.about{
  padding-left: .5rem;
  margin-top: .5rem;
}
.about *{
  font-size: 90%;
  margin-bottom: 0;
}
.about p{
  padding-left: 1rem;
  padding-right: .5rem;
  line-height: 100%;
}
summary{
  font-weight: bold;
}
details h2{
  display:inline-block;
  margin-top: .75rem;
  margin-bottom: .75rem;
}
details:open p{
  margin-top: 1rem;
}
details.value-menu{
  font-size: 2rem;
  margin-left: 1rem;
  margin-left: calc(.5rem + 1vw);
}
fieldset{
  margin-bottom: 1rem;
  width: fit-content;
}
input{
  margin-top: .2rem;
}
.put-status{
  font-size: 100%;
}
.logo-heading *{
  display: inline-block;
  vertical-align: middle;
}
.logo-heading img{
  margin-right: .75rem;
  height: calc(1.1*var(--heading-height));
}

@media screen and (max-width: 500px){
.value{
  margin-left: 3.5rem;
  margin-left: calc(2rem + 5vw);
}
h2{
  margin-left: 1rem;
  margin-left: calc(.5rem + 2vw);
  font-size: 22px;
  font-size: calc(.5rem + 4vw);
}
p{
  font-size: 20px;
  font-size: calc(.5rem + 3.5vw);
}
}